body {
  font-family: 'Lato', sans-serif;
  background: black;
  color: white;
  width: auto;
  padding: 50px;
  font-size: 16px;
  max-width: 400px;
}

h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(180deg, yellowgreen, orchid, turquoise, lightyellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  color: #00B7FF;
}

#hobbies {
    background: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    background: -webkit-linear-gradient(180deg, yellowgreen, orchid, turquoise, lightyellow);
    border-radius: 15px;
    min-width: 400px;
    border-width: 5px;
    border-color: white;
    min-height: 150px;
}
