body {
    background: black;
    color: white;
    font-family: 'Lato', sans-serif;
    margin: auto;
    max-width: 600px;
    padding: 10px;
    text-align: center;
    width: auto;
}

a {
    color: turquoise;
    text-decoration: none;
}

a:hover {
    color: mediumpurple;
}

.page-header {
    font-size: 40px;
    background: linear-gradient(90deg, yellowgreen, orchid, turquoise, lightyellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hobbyTextDisplay {
    background: linear-gradient(90deg, yellowgreen, orchid, turquoise, lightyellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto auto;
    min-height: 200px;
    outline: none;
    padding: 15px;
    text-align: center;
    width: 80%;
}

.generatorButton {
    background: orchid;
    border-radius: 15px;
    border: 5px white;
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom:0;
    height: 50px;
    outline: none;
    padding: 15px;
    text-align: center;
    width: 100px;
}

.generatorButton:hover {
    background: turquoise;
}

.generatorButton:active {
    background: yellowgreen;
}

.generatorButton:focus {
    border: 1px solid turquoise;
    background: orchid;
}

.main-footer {
    bottom: 0;
    font-size: 12px;
    line-height: 4px;
}
