body {
  font-family: 'Lato', sans-serif;
  background: black;
  color: white;
  width: auto;
  padding: 50px;
  font-size: 16px;
  max-width: 400px;
}

h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(180deg, yellowgreen, orchid, turquoise, lightyellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  color: #00B7FF;
}

#hobbies {
    background: white;
    color: black;
    padding: 15px;
    text-align: center;
    background: -webkit-linear-gradient(180deg, yellowgreen, orchid, turquoise, lightyellow);
    border-radius: 15px;
    box-shadow: 1px 4px 10px darkgray;
}
